.jumbotron{
	background-image:url('nn.jpeg');
	background-size:cover;
	background-position:center;
	background-attachment:fixed;
	padding: 100px 25px;
	/*background:#F4511E;
	color:#FFFFFF;

	 padding: 100px 25px;*/
}

.bg-gray{
	background-color: #f6f6f6;
}
.container-fluid{
	padding: 60px 50px;
    margin-top: -34px;
}

.col-sm-4{
	padding:10px;
}
.logo-small{
	color: #f4511e;
      font-size: 50px;
}

.card-body{
	width: 100%;
      height: 100%;
      margin-bottom: 10px;
}
 .carousel-control-prev, .carousel-control-next {
     background-image: none;
     color: #f4511e;
  }
  .carousel-indicators li {
      border-color: #f4511e;
  }
   .carousel-indicators li.active {
      background-color: #f4511e;
  }
    .carousel-item h4 {
      font-size: 19px;
      line-height: 1.375em;
      font-weight: 400;
      font-style: italic;
      margin: 70px 0;
  }
  .carousel-item span {
      font-style: normal;
  }
 .col-sm-6{
	margin-top: 5px;
}
.col-sm-10 button{
	float: right;
}

  .navbar {
      margin-bottom: 0;
      background-color: #f4511e;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;

  }
    .navbar li a, .navbar .navbar-brand {
      color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #f4511e !important;
      background-color: #fff !important;
  }
   .navbar-expand-md.navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }
  .dropdown-menu a{
  	color:black;
  }

.back{
	
	background-image:url('img/nn.jpeg');
	background-size:cover;
	background-position:center;
	background-attachment:fixed;

}
.icon{
  text-align:center;
  margin-top: 15px;
}
.icon a{
  
  text-decoration:none;
  letter-spacing:15px;
 
  
}
.icon ul{
  list-style: none;
}
.icon ul li{
  display:inline;
}